.post-content {
  figure {
    text-align: center;
  }
  figcaption {
    font-style: italic;
  }
  a.more-link {
    font-family: notosans, sans-serif;
    font-weight: bold;
    margin-left: 3px;
    float: right;
    i {
      margin-left: 10px;
      font-size: 14px;
    }
  }
  ul {
    margin-left: 30px;
    list-style: disc outside;
  }
}

.post {
  .entry-header h1 {
    text-align: left;
  }
  .post-thumb img {
    width: 100%;
  }
}

#journal.search-results {
  padding-top: 36px;

  #sidebar {
    padding: 0;

    .widget {
      margin: 0;
    }
  }

  .entry-header .entry-title,
  .entry .post-content {
    padding-right: 20px;

    mark {
      background-color: #11ABB0;
      color: #fff;
      font-weight: bold;
      padding-left: 1px;
      padding-right: 1px;
    }
  }
}

#comments {
  .commentlist {
    .avatar img {
      background-image: image-url('guest.png');
      background-size: contain;
    }
    a > cite {
      text-decoration: underline;
    }
    a > cite:hover {
      color: #838C95;
    }
  }
  form {
    .bio {
      position: relative;
      margin: 29px 0 54px 16.667%;
      padding: 0;
      .avatar {
        position: absolute;
        left: -50px;
        display: block;
        height: 50px;
        width: 50px;
        img {
          margin-top: 6px;
          height: 50px;
          width: 50px;
          border-radius: 100%;
          background-image: image-url('guest.png');
          background-size: contain;
        }
      }
      .comment-info cite {
        font: bold 16px/30px notosans, sans-serif;
        color: #454545;
      }
    }
    .validation-errors {
      color: #c00;
      > ul {
        margin-left: 30px;
        list-style: disc outside;
      }
    }
    .field_with_errors {
      margin: 0;
      input[type="text"], input[type="password"], input[type="email"], textarea, select {
        background-color: #f0D9D9;
        border: 1px solid red;
      }
      input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus, select:focus {
        background-color: #604145;
      }
    }
    input[type="text"], input[type="password"], input[type="email"], textarea, select {
      padding: 14px 15px;
      font-family: Arial, sans-serif;
    }
    label span {
      font-size: 13px;
    }
    div {
      margin: 8px 0 8px 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  #comments form .bio {
    margin-left: 0;
    .avatar {
      display: none;
    }
  }
}
