.post {

  .post-content a.more-link {
    font-family: notosans-bold, sans-serif;
    margin-left: 3px;
    float: right;
    i {
      margin-left: 10px;
      font-size: 14px;
    }
  }

  .post-thumb img {
    width: 100%;
  }
}
